nav {
    background-color: black;
    font-size: large;
    font-family: 'Calistoga', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#devillustration {
    font-size: small;
    text-align: center;
}

#tech-stack {
    text-align: center;
}

.big-card {
    border-color: #3d3d3d;
    border-width: 3px;
    border-radius: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    max-width: 900px;
}

.card-anchor {
    position: absolute;
    top: -75px;
}

@media (max-width: 991.99px) {
    .card-anchor {
        top: -375px;
    }
}

.card-title {
    font-family: 'Calistoga', 'Helvetica', sans-serif;
}

.icon {
    padding: 6px;
}

.tooltip-wrap {
    position: relative;
    display: inline-block;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}

@keyframes move {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(500px, 500px, 0);
    }
}

.animated-background {
    background: linear-gradient(to right, #ff0000, #0000ff);
    background-size: 400% 400%;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}